<%= simple_form_for(@cocktail) do |f| %>
  <div class="form-group text-left">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
    
  <div class="form-group text-left">
    <%= f.input :photo, as: :file, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary align-left' %>

<% end %>
